
{% form_theme reaction_form 'reaction/_smiles.html.twig' %}

{%  if post is defined and post is not empty %}

    {{ form_start(reaction_form, {'action': path('reaction_new', {'postId': post.id }), 'method': 'POST'}) }}
        {{ form_widget(reaction_form.legend) }}
        {{ form_row(reaction_form.user) }}

    <button class="btn btn-warning btn-block">{{ button_label|default('Save') }}</button>
    {{ form_end(reaction_form) }}

{% else %}

    {{ form_start(reaction_form) }}
    {{ form_widget(reaction_form.legend) }}
    {{ form_row(reaction_form.user) }}

    <button class="btn btn-warning btn-block">{{ button_label|default('Save') }}</button>
    {{ form_end(reaction_form) }}

{%  endif %}
