
<div style="background: #80bdff;" align="center">
    <img src="https://s.tcdn.co/4da/cef/4dacef51-d8f4-34b5-abe7-a153dcb37e15/9.png" height="150">
    <h1>Dear, {{ name }}</h1>
    <p>Click the link bellow to finish your registration or copy/paste link bellow</p>
    <a href="{{ url('verify') }}?mail={{ mail }}&token={{ token }}"><p style="background: #1b1e21; color: #ba8b00">LINK</p></a>
    <br>
    <br>
    <p style="background: #1b1e21; color: #ba8b00">{{ url('verify') }}?mail={{ mail }}&token={{ token }}</p>
    <br>
    <small>If U don`t know anything about this email - ignore it</small>
    <p>Z-Blog@2019</p>
</div>
